.myContainerDiv {
    background-color: yellowgreen;
    border: 3px grey solid;
    border-radius: 25px;
    margin: 10px;
    padding: 20px;
}

p.fancy {
    /*font-family: 'Dancing Script' cursive;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    text-align: center;
}